.login-container {
  max-width: 400px;
  margin: 2rem auto;
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center; /* Align children vertically in the center */
}

.login-container form {
  width: 100%;
}

.login-container label {
  display: block; /* Ensure the label is on its own line */
  margin-bottom: 0.5rem;
}

.login-container input {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%; /* Ensure input fields fill the width of the form */
}

.login-container .form-group {
  margin-bottom: 1rem; /* Space between form groups */
}

.login-container button {
  padding: 0.5rem;
  margin-bottom: 0.5rem; /* Space between buttons and the input above */
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  width: 100%; /* Full width buttons */
}

.login-container button:not(:last-child) {
  margin-bottom: 1rem; /* Add space between buttons */
}

.login-container button:hover {
  background-color: #0056b3;
}

/* Add this to create a wrapper for buttons */
.botoes-autenticacao {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch; /* Stretch button width to fill the container */
  gap: 10px; /* Adds space between buttons */
}
